html, body {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

label {
    font-weight: bold;
    font-size: 12px;
}

.ui-tabs .ui-tabs-panel {
    padding: 0px;
}

#statusBar {
    position: absolute;
    bottom: 0;
    background-color: #fff;
    height: 20px;
    padding: 3px 5px;
    font-size: 14px;
    max-width: 50%;
}

/* messages and fixed table header rules */
.messages-table {
    background-color: white;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.messages-table th {
    padding: 0 5px;
    word-wrap: normal;
}

.messages-table td {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.messages-table td + td {
    border-left: 1px solid #ccc;
}

.fixed-table-container {
    width: 99.5%;
    height: 100%;
    border: 1px solid black;
    /*margin: 10px auto;*/
    background-color: white;
    /* above is decorative or flexible */
    position: absolute; /* could be absolute or relative */
    padding-top: 30px; /* height of header */
}

.header-background {
    background-color: silver;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid black;
}

.fixed-table-container-inner {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.th-inner {
    position: absolute;
    top: 0;
    line-height: 30px; /* height of header */
    text-align: left;
    border-left: 1px solid black;
    padding-left: 5px;
    margin-left: -5px;
}

.first .th-inner {
    border-left: none;
    padding-left: 6px;
}
/* end messages rules */

/* helper classes */            
.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.leaflet-bottom {
    margin-bottom: -65px;
}