html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}


#statusBar {
    position: absolute;
    bottom: 0;
    background-color: #fff;
    height: 20px;
    padding: 3px 5px;
    font-size: 14px;
    max-width: 50%;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.leaflet-bottom {
    margin-bottom: -65px;
}

.messagesTable {
    width: 100%;
}

/* messages and fixed table header rules */
.messages-table {
    background-color: white;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.messages-table th {
    padding: 0 5px;
    word-wrap: normal;
    border-bottom: 2px solid #ccc;
}

.messages-table td {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.messages-table td + td {
    
}

.fixed-map-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*position: absolute;  could be absolute or relative */   
}

.fixed-map-container-inner {
    overflow: hidden;   
}

.fixed-table-container {
    width: 100%;
    height: 100%;
    position: absolute; /* could be absolute or relative */
    padding-top: 30px;  /* height of header */
}


.header-background {
    position: absolute;
    top: 0;
    height: 30px;
}

.fixed-table-container-inner {
    overflow-x: hidden;
    overflow-y: auto;
}

.th-inner {
    position: absolute;
    top: 0;
    line-height: 30px; /* height of header */
    text-align: left;
}


.first .th-inner {
    border: none;
}


/* end messages rules *

/* helper classes * 
.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}


*/