.settingsContainer {
	background-color: #CCC;
	margin: 2px;
	padding: 5px;
	border: thin solid #999;
	width: 300px;
	height: auto;
	float: left;
}

.filterContainer {
	background-color: #CCC;
	border: thin solid #999;
	height: auto;
	margin: 2px;
	padding: 5px;
	width: 600px;
	float: left;
}

.containerColumn {
	width: 280px;
	float: left;
}

.labelInputCont {
	float: left;
	text-align: right;
	clear: both;
	margin-right: 15px;
	height: 25px;
	width: 300px;
	
}

.settingsWidth {
	width: 180px;
}

.settingsLabel {
	width: 100px;
}

.settingsHeader {
	height: 40px;
}

.settingsRow {
	width: 620px;
	height: auto;
}