<!DOCTYPE html>
<html style="overflow: hidden;">
<head>
    <title>APRSViewJS</title>
    
    <link rel="stylesheet" href="../css/leaflet.css" />
    <link rel="stylesheet" href="../css/leaflet.label.css" />
    <link rel="stylesheet" href="../css/leaflet-search.css" />
    <link rel="stylesheet" href="../js/lib/Leaflet.contextmenu-master/dist/leaflet.contextmenu.css" />
    
    <!--<link rel="stylesheet" href="../css/smoothness/jquery-ui-1.10.4.custom.min.css" />-->
    <link rel="stylesheet" href="../css/settings.css" />
    <link rel="stylesheet" href="../css/main.css" />

    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="../bootstrap/css/bootstrap-responsive.min.css" />-->
    
</head>
<body>
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul id="mainAppTabs" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#mapTab" aria-controls="mapTab" role="tab" data-toggle="tab">Map</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
        </ul>

        <!-- Tab panes -->
        <div id="tabs" class="tab-content">
            <div id="mapTab" role="tabpanel" class="tab-pane active">
                <div class="fixed-map-container">
                    <div id="map" class="fixed-map-container-inner">
                        <div id="statusBar" style="z-index: 1000">
                            Latitude: <span data-bind="text: mouseLatLng().lat.toFixed(4)"></span>
                            Longitude: <span data-bind="text: mouseLatLng().lng.toFixed(4)"></span> Last Heard: <span data-bind="text: lastStationHeard"></span> 
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="messages">
                <div style="min-height: 35px; margin-bottom: 10px;">
                    <div style="white-space: nowrap; padding: 5px;  float: left;">
                        <label for="addressee">To: </label>
                        <input id="addressee" type="text" data-bind="value: messageAddressee" maxlength="9" />
                    </div>
                    <div style="white-space: nowrap; padding: 5px; position: relative; float: left;">
                        <label for="messageText">Message: </label>
                        <input id="messageText" type="text" data-bind="value: messageText" maxlength="67" />
                    </div>
                    <div style="white-space: nowrap; padding: 5px; position: relative; float: left;">
                        <label for="isRequireAck">Require Ack: </label>
                        <input id="isRequireAck" type="checkbox" data-bind="checked: messageRequireAck" />
                    </div>
                    <div style="padding: 5px; position: relative; float: left;">
                        <input type="button" class="btn btn-default" value="Send" data-bind="click: SendMessage" />
                    </div>
                </div>
                <div class="fixed-table-container">
                    <div class="header-background"></div>
                    <div id="allMessagesTable" class="fixed-table-container-inner">
                        <table class="messages-table">
                            <thead>
                                <tr>
                                    <th style="min-width: 50px;"><div class="th-inner">Received Time</div></th>
                                    <th style="min-width: 65px; max-width: 100px;"><div class="th-inner">Message Number</div></th>
                                    <th style="min-width: 60px;"><div class="th-inner">To/Group Name</div></th>
                                    <th style="min-width: 60px;"><div class="th-inner">From</div></th>
                                    <th style="min-width: 80px;"><div class="th-inner">Message</div></th>
                                    <th>
                                        <div class="th-inner">
                                            <a href="#" data-bind="value: $data, click: $root.DeleteAllMessages"><img src="../css/images/DeleteIcon.png"style="height: 12px; width: 12px;" /></a>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: messageWindowMessages">
                                <tr>
                                    <td style="min-width: 50px; max-width: 100px;">
                                        <span data-bind="text: receivedTime, style: { color: msgNumber() != '' ? (isAcked() == true ? '#468847' : '#c7254e') : 'black' }"></span>
                                    </td>
                                    <td>
                                        <span data-bind="text: msgNumber, style: { color: msgNumber() != '' ? (isAcked() == true ? '#468847' : '#c7254e') : 'black' }"></span>
                                    </td style="min-width: 65px; max-width: 100px;">
                                    <td>
                                        <!-- ADDRESSEE AND GROUP NAME SHOULD BE IN THE SAME COLUMN -->
                                        <a href="#" data-bind="text: addressee
                                                , click: function() { messagesTabClick(addressee()) }
                                                , style: { color: msgNumber() != '' ? (isAcked() == true ? '#468847' : '#c7254e') : 'black' }">
                                        </a>
                                        <a href="#" data-bind="text: groupName
                                                , click: function() { messagesTabClick(groupName()) }
                                                , style: { color: msgNumber() != '' ? (isAcked() == true ? '#468847' : '#c7254e') : 'black' }">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" data-bind="text: sourceCall
                                                , click: function() { messagesTabClick(sourceCall()) }
                                                , style: { color: msgNumber() != '' ? (isAcked() == true ? '#468847' : '#c7254e') : 'black' }">
                                        </a>
                                    </td>
                                    <td>
                                        <span data-bind="text: message, style: { color: msgNumber() != '' ? (isAcked() == true ? '#468847' : '#c7254e') : 'black' }"></span>
                                    </td>
                                    <td>
                                        <a href="#" data-bind="value: $data, click: $root.DeleteMessage">
                                            <img src="../css/images/DeleteIcon.png" style="height: 12px; width: 12px;" />
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="settings">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#stationSettings" aria-controls="stationSettings" role="tab" data-toggle="tab">Station Settings</a></li>
                    <li role="presentation"><a href="#connectionSettings" aria-controls="connectionSettings" role="tab" data-toggle="tab">Connections</a></li>
                    <!--<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>-->
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="stationSettings" data-bind="with: aprsSettings" style="padding: 5px">
                        <div>
                            <label for="callSign" >Callsign:</label>
                            <input name="callSign" data-bind="value: callsign" />
                        </div>
                        <div>
                            <label for="ssid">Ext:</label>
                            <input name="ssid" data-bind="value: ssid" />
                        </div>
                        <div>
                            <label for="passcode">Passcode:</label>
                            <input name="passcode" type="text" data-bind="value: passcode" />
                        </div>
                        <div>
                            <label for="lifetime">Point Lifetime:</label>
                            <input name="lifetime" type="number" data-bind="value: pointLifetime" />
                        </div>
                        <div>
                            <label for="transmitPosition">Transmit Station Position</label>
                            <input name="transmitPosition" type="checkbox" data-bind="checked: stationTransmitPosition" />
                        </div>
                        
                        <div style="position: relative;">
                            <label for="positionTransmitInterval">Transmit Position Interval:</label>
                            <input name="positionTransmitInterval" type="range"
                                    min="30000" max="1800000" step="30000"
                                    style="display: inline-block; width: 250px;"
                                    data-bind="value: stationSendPositionInterval"
                                    />
                            
                            <input id="posInterval" type="text" readonly style="border: 0px;" data-bind="value: sendPosIntervalMin" />
                        </div>
                        
                        <div>
                            <label for="trackStat">Track Station:</label>
                            <input name="trackStat" type="checkbox" data-bind="boolean: trackStation" />
                        </div>
                        <div>
                            <label for="stationLatitude">Station Latitude</label>
                            <input name="stationLatitude" type="number" data-bind="value: stationLatitude, enable: !stationAutoPosition()" />
                        </div>
                        <div>
                            <label for="stationLatitude">Station Longitude</label>
                            <input name="stationLatitude" type="number" data-bind="value: stationLongitude, enable: !stationAutoPosition()" />
                        </div>
                        <div style="position: relative;">
                            <label for="stationIcon">Station Icon:</label>
				            
                            <div name="stationIcon" class="dropdown" style="display: inline-block">
                                <button class="btn btn-default dropdown-toggle"
                                        type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                    <img data-bind="attr:{src: ('../css/images/station' + stationMarkerIcon.getSymbolPath(stationSymbolTable(), stationSymbolCode()))}" />
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu" 
                                        role="menu"
                                        aria-labelledby="dropdownMenu1"
                                        data-bind="foreach: stationMarkerIcon.getPrimaryIcons()"
                                        >
                                    <li role="presentation">
                                        <a role="menuitem"
                                                tabindex="-1"
                                                href="#"
                                                data-bind="click: function() { $parent.stationIcon(key) }">
                                            <img data-bind="attr: { src: '../css/images/station' + value }" />
                                            <span data-bind="text: name"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div style="margin-top: 10px">
                            <input type="button" class="btn btn-default" value="Save" data-bind="click: saveSettings" />
                            <input type="button" class="btn btn-default" value="Cancel" data-bind="click: cancelSave" />
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="connectionSettings" data-bind="with: connectionManager">
                        <div id="connectionList">
                            <div class="labelInputCont text-center settingsHeader">
                                <h4>Data Connections</h4>
                            </div>
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default" data-bind="visible: dataConnections().length < 1">
                                    <h4 class="panel-title">
                                        No Connections Found
                                    </h4>
                                </div>
                                
                                <div class="panel panel-default" data-bind="foreach: { data: dataConnections, as: 'connection' }">
                                    <a class="panel-default" data-toggle="collapse" data-parent="#accordion" data-bind="attr: { href: ('#' + connection.id), 'aria-controls': connection.id }" aria-expanded="true">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <span data-bind="text: connection.description"></span>
                                                <!-- ko if: socket -->
                                                <span data-bind="text: connection.socket.writable"></span>
                                                <!-- /ko -->
                                            </h4>
                                        </div>
                                    </a>
                                    <div class="panel-collapse collapse" data-bind="attr: { id: connection.id }">
                                        <div class="panel-body">
                                            <span data-bind="text: connection.connectionType"></span>
                                            <div>
                                                <label for="host">Host:</label>
                                                <span name="host" data-bind="text: connection.host" />
                                            </div>
                                            <div>
                                                <label for="port">Port:</label>
                                                <span name="port" data-bind="text: connection.port" />
                                            </div>
                                            <div data-bind="visible: connection.connectionType == 'AGWPE'">
                                                <label for="filter">Radio Port:</label>
                                                <span name="filter" data-bind="text: connection.radioPort" />
                                            </div>
                                            <div data-bind="visible: connection.connectionType == 'APRSIS'">
                                                <label for="filter">Filter:</label>
                                                <span name="filter" data-bind="text: connection.filter" />
                                            </div>
                                            <div>
                                                <label for="transmitEnabled">Transmission Enabled:</label>
                                                <span name="transmitEnabled" data-bind="text: connection.isTransmitEnabled"></span>
                                            </div>
                                            <div>
                                                <label for="reconnectOnFailure">Reconnect on Failure:</label>
                                                <span name="reconnectOnFailure" data-bind="text: connection.isReconnectOnFailure" />
                                            </div>
                                            <div>
                                                <label for="reconnectInterval">Time until Reconnect (in ms):</label>
                                                <span name="reconnectInterval" data-bind="text: connection.keepAliveTime"></span>
                                            </div>
                                            <div>
                                                <label for="isEnabled">Connection Enabled:</label>
                                                <input name="isEnabled" type="checkbox" data-bind="checked: connection.isEnabled" />
                                            </div>
                                        </div>
                                        
                                        <div class="panel-footer">
                                            <input type="button" class="btn btn-default" value="Edit"
                                                   data-bind="click: $root.EditConnection"
                                                   />
                                            <button type="button" class="btn btn-default"
                                                   data-toggle="modal"
                                                   data-bind="attr: { 'data-target': ('#confirm-delete' + connection.id) }">
                                                Delete
                                            </button>
                                            
                                            <div class="modal fade" data-bind="attr: { id: ('confirm-delete' + connection.id) }" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            Confirmation
                                                        </div>
                                                        <div class="modal-body">
                                                            Click Delete to confirm.
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                            <button type="button" class="btn btn-danger btn-ok" data-bind="click: $root.DeleteConnection">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>    
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#dataConnectionEditModal">
                                    New Connection
                                </button>
                            </div>
                        </div>
                        
                        <!-- Add or edit connection modal panel -->
                        <div id="dataConnectionEditModal" class="modal fade" data-bind="with: $root">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        
                                        <h4 class="modal-title">Edit Data Connection</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <label for="connectionType">Connection Type:</label>
											
                                            <select name="connectionType" data-bind="value: dcConnectionType">
                                                <option value='APRSIS'>APRS-IS</option>
                                                <option value='AGWPE'>AGWPE</option>
                                            </select>
                                        </div>
                                        <div>
                                            <label for="description">Description:</label>
                                            <input type="text" name="description" data-bind="value: dcDescription" />
										</div>
                                        <div>
                                            <label for="host">Host URL:</label>
                                            <input type="text" name="host" data-bind="value: dcHost" />
                                        </div>
                                        <div id='isServerPort'>
                                            <label for="port">Host Port:</label>
                                            <input name="port" type="number" data-bind="value: dcPort" />
                                        </div>
                                        <div data-bind='visible: dcConnectionType() == "APRSIS"'>
                                            <label for="filter">Filter:</label>
                                            <input name="filter" type="text" data-bind="value: dcFilter" />
                                        </div>
                                        <div data-bind='visible: dcConnectionType() == "AGWPE"'>
                                            <label for="radioPort">Radio Port:</label>
                                            <input name="radioPort" type="number" data-bind="value: dcRadioPort" />
                                        </div>
                                        <div>
                                            <label for="isEnabled">Connection Enabled:</label>
                                            <input name="isEnabled" type="checkbox" data-bind="checked: dcIsEnabled" />
                                        </div>
                                        <div>
                                            <label for="isTransmitEnabled">Enable Transmit:</label>
                                            <input name="isTransmitEnabled" type="checkbox" data-bind="checked: dcIsTransmitEnabled" />
                                        </div>
                                        <div>
                                            <label for="isEnabled">Track Station:</label>
                                            <input name="trackStation" type="checkbox" />
                                        </div>
                                        <div>
                                            <label for="isReconnectOnFailure">Reconnect on Failure:</label>
                                            <input name="isReconnectOnFailure" type="checkbox" />
                                        </div>
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bind="click: SaveConnection">Save</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!--
        <div role="tabpanel" class="tab-pane" id="settings">
            

            <div class="settingsContainer">
                
            </div>

            <!--
            <div class="filterContainer">
            <div class="labelInputCont text-center settingsHeader" style="width: 100%">
            <h4>Filters</h4>
            </div>
            <div style="width: 100%">
            <div class="containerColumn">
            <div class="labelInputCont">
            <label for="statusReport" class="settingsLabelWidth">Status Report:</label>
            <input name="statusReport" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="gpgga" class="settingsLabelWidth">GPGGA:</label>
            <input name="gpgga" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="newMicE" class="settingsLabelWidth">New Mic-E:</label>
            <input name="newMicE" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="oldMicE" class="settingsLabelWidth">Old Mic-E:</label>
            <input name="oldMicE" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="position" class="settingsLabelWidth">Position:</label>
            <input name="position" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="wxReport" class="settingsLabelWidth">WX Report:</label>
            <input name="wxReport" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="thirdParty" class="settingsLabelWidth">Third Party:</label>
            <input name="thirdParty" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="query" class="settingsLabelWidth">Query:</label>
            <input name="query" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="object" class="settingsLabelWidth">Object:</label>
            <input name="object" class="settingsWidth" type="checkbox"/>
            </div>
            </div>
            <div class="containerColumn">
            <div class="labelInputCont">
            <label for="item" class="settingsLabelWidth">Item:</label>
            <input name="item" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="normal" class="settingsLabelWidth">Normal:</label>
            <input name="normal" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="kill" class="settingsLabelWidth">Kill:</label>
            <input name="kill" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="stationCapabilities" class="settingsLabelWidth">Station Capa:</label>
            <input name="stationCapabilities" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="telemetry" class="settingsLabelWidth">Telemetry:</label>
            <input name="telemetry" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="userDefined" class="settingsLabelWidth">User Defined:</label>
            <input name="userDefined" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="message" class="settingsLabelWidth">Message:</label>
            <input name="message" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="nws" class="settingsLabelWidth">NWS:</label>
            <input name="nws" class="settingsWidth" type="checkbox"/>
            </div>
            </div>
            </div>
            </div>
            -->
<!--
        </div>
-->
    </div>
    
    <script type="text/javascript" src="../js/lib/jquery-2.1.0.min.js"></script> 
    <!--<script type="text/javascript" src="../js/lib/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script>-->
    <script type="text/javascript" src="../js/lib/leaflet-0.7.2/leaflet.js"></script> 
    <script type="text/javascript" src="../js/lib/Leaflet.label-master/dist/leaflet.label.js"></script> 
    <script type="text/javascript" src="../js/lib/leaflet-search-master/src/leaflet-search.js"></script>
    <script type="text/javascript" src="../js/lib/Leaflet.contextmenu-master/dist/leaflet.contextmenu.js"></script>
    <script type="text/javascript" src="../js/lib/notify.min.js"></script>
    <script type="text/javascript" src="../js/lib/knockout-3.0.0.js"></script>
    <script type="text/javascript" src='../js/lib/bower_components/knockout-es5/dist/knockout-es5.min.js'></script>
    
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>

    <!-- These are front end javascript -->
    <script type="text/javascript" src="../js/techpire/APRSSettings.js"></script>
    <script type="text/javascript" src="../js/techpire/LayerManager.js"></script> 
    <script type="text/javascript" src="../js/techpire/APRSConnectionManager.js"></script> 
    <script type="text/javascript" src="../js/techpire/StationMarkerIcon.js"></script> 
    <script type="text/javascript" src="../js/techpire/APRSPositionMarker.js"></script> 
    <script type="text/javascript" src="../js/techpire/TrailColorUtil.js"></script>
    <script type="text/javascript" src="../js/views/index.js"></script>
</body>
</html>