<!DOCTYPE html>
<html style="overflow: hidden;">
<head>
    <title>APRSViewJS</title>
    
    <link rel="stylesheet" href="../css/leaflet.css" />
    <link rel="stylesheet" href="../css/leaflet.label.css" />
    <link rel="stylesheet" href="../css/leaflet-search.css" />
    <link rel="stylesheet" href="../css/smoothness/jquery-ui-1.10.4.custom.min.css" />
    <link rel="stylesheet" href="../css/settings.css" />
    <link rel="stylesheet" href="../css/main.css" />

    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../bootstrap/css/bootstrap-responsive.min.css" />
</head>
<body style="opacity: 0;">
    <div id="tabs">
        <ul>
            <li><a id="mapTab" href="#map">Map</a></li>
            <li><a id="messagesTab" href="#messages">Messages</a></li>
            <li><a id="settingsTab" href="#settings">Settings</a></li>
        </ul>
        <div id="map"></div>
            <div id="messages" style="margin-bottom: 100px;">
                <div style="margin-top: 5px; margin-bottom: 5px;">
                    <label for="addressee">To: </label>
                    <input id="addressee" type="text" data-bind="value: messageAddressee" maxlength="9" />
                    <label for="messageText">Message: </label>
                    <input id="messageText" type="text" data-bind="value: messageText" maxlength="67" />
                    <label for="isRequireAck">Require Ack: </label>
                    <input id="isRequireAck" type="checkbox" data-bind="checked: messageRequireAck" />
                    <input type="button" value="Send" data-bind="click: SendMessage" />
                </div>
                <div class="fixed-table-container">
                <div class="header-background"></div>
                <div class="fixed-table-container-inner">
                    <table id="allMessagesTable" class="messages-table" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="first" style="min-width: 50px;">
                                    <div class="th-inner">Received Time</div>
                                </th>
                                <th style="min-width: 65px; max-width: 100px;">
                                    <div class="th-inner">Message Number</div>
                                </th>
                                <th style="min-width: 60px;">
                                    <div class="th-inner">To/Group Name</div>
                                </th>
                                <th style="min-width: 60px;">
                                    <div class="th-inner">From</div>
                                </th>
                                <th style="min-width: 80px;">
                                    <div class="th-inner">Message</div>
                                </th>
                                <th style="width: 50px;">
                                    <div class="th-inner" style="padding-left: 25px;">
                                        <a href="#" data-bind="value: $data, click: $root.DeleteAllMessages"><img src="../css/images/DeleteIcon.png"style="height: 12px; width: 12px;" /></a>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                      <tbody data-bind="foreach: messageWindowMessages">
                        <tr>
                          <td class="text-left" style="min-width: 50px; max-width: 100px;"><span data-bind="text: receivedTime, style: { color: msgNumber() != '' ? (isAcked() == true ? '#468847' : '#c7254e') : 'black' }"></span></td>
                          <td class="text-left" style="min-width: 65px; max-width: 100px;"><span data-bind="text: msgNumber, style: { color: msgNumber() != '' ? (isAcked() == true ? '#468847' : '#c7254e') : 'black' }"></span></td>
                          <td class="text-left"><a href="#" data-bind="text: addressee
                                                            , click: function() { messagesTabClick(addressee()) }
                                                            , style: { color: msgNumber() != '' ? (isAcked() == true ? '#468847' : '#c7254e') : 'black' }"> </a> <a href="#" data-bind="text: groupName
                                                            , click: function() { messagesTabClick(groupName()) }
                                                            , style: { color: msgNumber() != '' ? (isAcked() == true ? '#468847' : '#c7254e') : 'black' }"> </a></td>
                          <td class="text-left"><a href="#" data-bind="text: sourceCall
                                                            , click: function() { messagesTabClick(sourceCall()) }
                                                            , style: { color: msgNumber() != '' ? (isAcked() == true ? '#468847' : '#c7254e') : 'black' }"> </a></td>
                          <td class="text-left"><span data-bind="text: message, style: { color: msgNumber() != '' ? (isAcked() == true ? '#468847' : '#c7254e') : 'black' }"></span></td>
                          <td class="text-center"><a href="#" data-bind="value: $data, click: $root.DeleteMessage"> <img src="../css/images/DeleteIcon.png" style="height: 12px; width: 12px;" /> </a></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="settings">
            <div class="settingsContainer" data-bind="with: aprsSettings">
                <div class="labelInputCont text-center settingsHeader">
                    <h4>General</h4>
                </div>
                <div class="labelInputCont">
                    <label for="callSign" class="settingsLabel">Callsign:</label>
                    <input name="callSign" class="settingsWidth" data-bind="value: callsign"/>
                </div>
                <div class="labelInputCont">
                    <label for="ssid" class="settingsLabel">Ext:</label>
                    <input name="ssid" class="settingsWidth" data-bind="value: ssid"/>
                </div>
                <div class="labelInputCont">
                    <label for="passcode" class="settingsLabel">Passcode:</label>
                    <input name="passcode" class="settingsWidth" type="text" data-bind="value: passcode"/>
                </div>
                <div class="labelInputCont">
                    <label for="lifetime" class="settingsLabel">Point Lifetime:</label>
                    <input name="lifetime" class="settingsWidth" type="number" data-bind="value: pointLifetime"/>
                </div>
                <div class="labelInputCont">
                    <label for="trackStat" class="settingsLabel">Track Station:</label>
                    <input name="trackStat" type="checkbox" data-bind="boolean: trackStation"/>
                </div>
                <div class="labelInputCont">
                    <input type="button" value="Save" data-bind="click: saveSettings" />
                    <input type="button" value="Cancel" data-bind="click: cancelSave" />
                </div>
            </div>

            <div class="settingsContainer">
                <div class="labelInputCont text-center settingsHeader">
                    <h4>Data Connections</h4>
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <!-- ko foreach: connectionManager.dataConnections -->
                    <div class="panel panel-default">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" data-bind="text: $data.connectionType" />
                        </h4>
                    </div>
                    <!-- /ko -->
                </div>
                <div class="labelInputCont text-center settingsHeader">
                    <input type="button" value="Add"/>
                </div>
            </div>

            <!--
            <div class="filterContainer">
            <div class="labelInputCont text-center settingsHeader" style="width: 100%">
            <h4>Filters</h4>
            </div>
            <div style="width: 100%">
            <div class="containerColumn">
            <div class="labelInputCont">
            <label for="statusReport" class="settingsLabelWidth">Status Report:</label>
            <input name="statusReport" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="gpgga" class="settingsLabelWidth">GPGGA:</label>
            <input name="gpgga" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="newMicE" class="settingsLabelWidth">New Mic-E:</label>
            <input name="newMicE" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="oldMicE" class="settingsLabelWidth">Old Mic-E:</label>
            <input name="oldMicE" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="position" class="settingsLabelWidth">Position:</label>
            <input name="position" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="wxReport" class="settingsLabelWidth">WX Report:</label>
            <input name="wxReport" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="thirdParty" class="settingsLabelWidth">Third Party:</label>
            <input name="thirdParty" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="query" class="settingsLabelWidth">Query:</label>
            <input name="query" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="object" class="settingsLabelWidth">Object:</label>
            <input name="object" class="settingsWidth" type="checkbox"/>
            </div>
            </div>
            <div class="containerColumn">
            <div class="labelInputCont">
            <label for="item" class="settingsLabelWidth">Item:</label>
            <input name="item" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="normal" class="settingsLabelWidth">Normal:</label>
            <input name="normal" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="kill" class="settingsLabelWidth">Kill:</label>
            <input name="kill" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="stationCapabilities" class="settingsLabelWidth">Station Capa:</label>
            <input name="stationCapabilities" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="telemetry" class="settingsLabelWidth">Telemetry:</label>
            <input name="telemetry" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="userDefined" class="settingsLabelWidth">User Defined:</label>
            <input name="userDefined" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="message" class="settingsLabelWidth">Message:</label>
            <input name="message" class="settingsWidth" type="checkbox"/>
            </div>
            <div class="labelInputCont">
            <label for="nws" class="settingsLabelWidth">NWS:</label>
            <input name="nws" class="settingsWidth" type="checkbox"/>
            </div>
            </div>
            </div>
            </div>
            -->
        </div>
    </div>

    <div id="statusBar">
        Latitude: <span data-bind="text: mouseLatLng().lat.toFixed(4)"></span>
        Longitude: <span data-bind="text: mouseLatLng().lng.toFixed(4)"></span> Last Heard: <span data-bind="text: lastStationHeard"></span> 
    </div>

    <script type="text/javascript" src="../js/lib/jquery-2.1.0.min.js"></script> 
    <script type="text/javascript" src="../js/lib/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script> 
    <script type="text/javascript" src="../js/lib/leaflet-0.7.2/leaflet.js"></script> 
    <script type="text/javascript" src="../js/lib/Leaflet.label-master/dist/leaflet.label.js"></script> 
    <script type="text/javascript" src="../js/lib/leaflet-search-master/src/leaflet-search.js"></script> 
    <script type="text/javascript" src="../js/lib/notify.min.js"></script>
    <script type="text/javascript" src="../js/lib/knockout-3.0.0.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>

    <!-- These are front end javascript --> 
    <script type="text/javascript" src="../js/techpire/APRSSettings.js"></script>
    <script type="text/javascript" src="../js/techpire/LayerManager.js"></script> 
    <script type="text/javascript" src="../js/techpire/APRSConnectionManager.js"></script> 
    <script type="text/javascript" src="../js/techpire/StationMarkerIcon.js"></script> 
    <script type="text/javascript" src="../js/techpire/APRSPositionMarker.js"></script> 
    <script type="text/javascript" src="../js/techpire/TrailColorUtil.js"></script> 
    <script type="text/javascript" src="../js/views/index.js"></script> 
    <script type="text/javascript">
        var gui = require('nw.gui');

        $(document).keydown(function(e) {
            if (e.which == 123 /*F12*/) {                           
                e.preventDefault();              
                gui.Window.get().showDevTools();

                return true;
            }
        });
    </script>
</body>
</html>